* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: brown;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: aqua;
}

.game-container {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

.gameboard {
  aspect-ratio: 1/1;
  width: min(90%, 80vh);
  display: grid;
  gap: 20px;
  background-color: red;
  /* min-height: 0; */
}

/* .gameboard.six-cards {
}

.gameboard.twelve-cards {
} */

.gameboard.sixteen-cards {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.repeat {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}

.card img {
  flex: 1 1 auto;
  object-fit: contain;
  min-height: 0;
}
