* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 90%;
}

.gameboard {
  width: 80%;
  display: grid;
  background-color: red;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-auto-rows: 1fr; */
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  height: 600px;
  gap: 20px;
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.card img {
  flex: 1 1 auto;
  object-fit: contain;
  min-height: 0;
}
