* {
  font-family: "Courier New", Courier, monospace;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  --black: #222;
  --white: #f2f2f2;
  color: var(--black);
  --endo: #60a85f;
  --kiwi: #88e23b;
  --tardis: #043c6e;
  --neon-blue: #00ffea;
}

@font-face {
  font-family: "WubbaLubbaDubDub";
  src: url("./assets/fonts/WubbaLubbaDubDub.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--endo);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

h1 {
  font-family: "WubbaLubbaDubDub";
  font-size: 3rem;
  color: var(--tardis);
}

.directions {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#game-over {
  display: none;
  position: absolute;
  background-color: color-mix(in srgb, var(--kiwi) 70%, transparent);
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

#game-over h1 {
  font-size: 5rem;
}

#game-over button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

#game-over.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  aspect-ratio: 1/1;
  width: min(90%, 75vh);
  display: grid;
  gap: 20px;
}

.gameboard.six-cards {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gameboard.twelve-cards {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gameboard.sixteen-cards {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.scoreboard-and-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  width: min(90%, 75vh);
}

.scoreboard {
  font-size: 1.1rem;
  font-weight: bold;
}

.mode-selection button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0px;
  border: 1px solid var(--black);
  background-color: var(--white);
  font-weight: bold;
}

.mode-selection button:hover {
  background-color: var(--neon-blue);
  color: var(--black);
}

.mode-selection .selected {
  background-color: var(--tardis);
  color: var(--white);
}

.card {
  border: 1px solid var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  background-color: var(--white);
}

.card:hover {
  cursor: pointer;
  border: 1px solid var(--kiwi);
  box-shadow: 0 0 30px var(--kiwi);
}

.card img {
  flex: 1 1 auto;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  min-height: 0;
}

.card .char-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: bold;
}

.repeat {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}

.repeat:hover {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}
